{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form action="" method="POST" enctype='multipart/form-data'>
              <div class="form-group">
                <label for="nameInput">Name:</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Name" name="item_name">
              </div>
              <div class="form-group">
                <label for="priceInput">Price:</label>
                <input type="number" class="form-control" id="priceInput" placeholder="Price" name="price">
              </div>
              <div class="form-group">
                <label for="imageInput">Item Image:</label>
                <input type="file" id="imageInput" name="image">
                <p class="help-block">JPG and PNG supported. 2MB max file size.</p>
              </div>
              <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
